@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}
#login-form {
	margin:5% auto;
	max-width:500px;
}
/* home page */
#wrapper{
	padding-top:50px;
}
.account{
	background-image:url('img/acc.png') !important;
	height:280px;background-size: 100% 100%;color:#fff;
	border: 1px solid #000;
	padding: 3px;
}
.account:hover{
	opacity: 0.9;
	color: #000;
	border: 1px solid #fff;
}
.page-header{
	text-indent: 105px;
}